@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkPrimary: #13121a;
  --darkSeconday: #191925;
  --darkTextPrimary: #ffffff;
  --darkTextSecondary: #d1d1d1;
  --darkNavTop: #1f1934;
  --darkChartL: #191932;
  --darChartR: #1e1932;
  --darkInactive: #232336;

  --lightPrimary: #f3f5f9;
  --lightSecondary: #ffffff;
  --lightTextPrimary: #232336;
  --lightTextSecondary: #424286;
  --lightNavTop: #353570;
  --lightChartL: #ffffff;
  --lightChartR: #ffffff;
  --lightDuration: #ccccfa66;
  --lightInactive: #ffffff;

  --green: #01f1e3;
  --red: #fe2264;
  --progressBarBtc: #f7931a;
  --progressBarEth: #849dff;
  --activeBg: #6161de;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255; */
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* * {
  border: 1px solid;
} */

body {
  color: rgb(var(--foreground-rgb));
  /* background: #13121A; */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  max-width: 1440px;
  margin: 0 auto;
}
