@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkPrimary: #13121A;
  --darkSeconday: #191925;
  --darkTextPrimary: #FFFFFF;
  --darkTextSecondary: #D1D1D1;
  --darkNavTop: #1F1934;
  --darkChartL: #191932;
  --darChartR: #1E1932;
  --darkInactive: #232336;

  --lightPrimary: #F3F5F9;
  --lightSecondary: #FFFFFF;
  --lightTextPrimary: #232336;
  --lightTextSecondary:#424286;
  --lightNavTop:#353570;
  --lightChartL:#FFFFFF;
  --lightChartR:#FFFFFF;
  --lightDuration:#CCCCFA66;
  --lightInactive: #FFFFFF;


  --green: #01F1E3;
  --red:#FE2264;
  --progressBarBtc: #F7931A;
  --progressBarEth: #849DFF;
  --activeBg:#6161de;

}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255; */
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* * {
  border: 1px solid;
} */

body {
  color: rgb(var(--foreground-rgb));
  /* background: #13121A; */
   /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  max-width: 1440px;
  margin: 0 auto;  
}
